<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asuka.backend.mapper.ArticleMapper">

    <select id="pageQuery" resultType="com.asuka.backend.pojo.vo.ArticleListVO">
        SELECT blog_article.*,blog_topic.topic_name FROM blog_article left join blog_topic
        on blog_article.topic_id = blog_topic.id
        <where>
            <if test="title != null and title !=''">
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="topicId != null">
                AND topic_id = #{topicId}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>